[Unit]
Description=speedcontrol
After=network-online.target
Requires=network-online.target

[Service]
User=speedcontrol
Group=speedcontrol
WorkingDirectory=/opt/speedcontrol
ExecStart=/opt/speedcontrol/speedcontrol_venv/bin/gunicorn -b 0.0.0.0:5000 -w 2 speedcontrol:app
#ExecStart=/opt/speedcontrol/start.sh
#ExecStop=/opt/speedcontrol/stop.sh
RuntimeDirectory=speedcontrol
Restart=on-failure
RestartSec=2
Environment="HOME=/opt/speedcontrol"
TimeoutStopSec=5
#KillSignal=SIGQUIT
#PIDFile=/opt/speedcontrol/speedcontrol.pid

[Install]
WantedBy=multi-user.target
