[Unit]
Description=speedcontrol
After=network-online.target
Requires=network-online.target

[Service]
User=speedcontrol
Group=speedcontrol
ExecStart=/opt/speedcontrol/start.sh
ExecStop=/opt/speedcontrol/stop.sh
WorkingDirectory=/opt/speedcontrol
Restart=on-failure
RestartSec=2
Environment="HOME=/opt/speedcontrol"
PIDFile=/opt/speedcontrol/speedcontrol.pid

[Install]
WantedBy=multi-user.target
